.films-page {
	padding: 2rem;
	max-width: 93.75rem;
	margin: 0 auto;
}

.page-title {
	color: yellow;
	text-align: center;
	margin-bottom: 2rem;
	font-family: 'Orbitron', sans-serif;
}

.error-msg {
	color: red;
	text-align: center;
}

.film-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 1.5rem;
	align-items: stretch;
}

.film-card {
	position: relative;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	border-radius: 12px;
	text-align: center;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.85);
	border: 1px solid yellow;
	box-shadow: 0 0 10px yellow;
}

.film-card:hover {
	transform: scale(1.03);
	box-shadow: 0 0 25px 6px #ffe81f;
} 

.film-card:hover::after {
	transform: translateX(-50%) scaleY(1);
}

.film-image {
	width: 100%;
	height: auto;
	object-fit: contain; 
	aspect-ratio: 2 / 3;  
	border-radius: 10px;
	margin-bottom: 1rem;
}


.film-info h3 {
	color: yellow;
	font-family: 'Orbitron', sans-serif;
	margin-bottom: 0.5rem;
}

.film-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.opening-crawl {
	white-space: normal;
	text-align: left;
	margin-top: 0.5rem;
	font-style: italic;
	font-size: 0.9rem;
	line-height: 1.4;
}

.with-lightsabers {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	font-family: 'Orbitron', sans-serif;
	color: yellow;
	position: relative;
}

.lightsaber {
	height: 2rem;
	vertical-align: middle;
}

.lightsaber.left {
  	transform: scaleX(-1);
}

.film-card-link {
	text-decoration: none;
	color: inherit;
	display: block;
}
