.starwars-navbar {
	background-color: #000;
	border-bottom: 2px solid yellow;
	box-shadow: 0 0 10px yellow;
	padding-top: 1rem;
	padding-bottom: 1rem;
	min-height: 80px;
}

.starwars-logo {
	color: yellow;
	font-family: 'Orbitron', sans-serif;
	letter-spacing: 1px;
	font-size: 1.4rem;
}

.nav-link.active {
	color: yellow;
	text-shadow: 0 0 10px #ffe81f, 0 0 20px #ffe81f;
	font-weight: bold;
}

.nav-link {
	color: #ccc;
	margin-left: 1rem;
	transition: color 0.3s ease;
}

.nav-link:hover {
	color: #fff700;
}
