.searchbar-form {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin-left: 1rem;
}

.searchbar-select {
	background-color: rgba(0, 0, 0, 0.85);
	color: gold;
	border: 0.125rem solid gold;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	font-family: 'Orbitron', sans-serif;
	font-size: 1rem;
	margin-right: 0.5rem;
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.searchbar-select:hover,
.searchbar-select:focus {
	background-color: gold;
	color: black;
	box-shadow: 0 0 0.625rem gold;
	outline: none;
}

.searchbar-input {
	padding: 0.4rem 0.6rem;
	border-radius: 0.5rem;
	border: 0.125rem solid gold;
	font-size: 1rem;
	background-color: #000;
	color: gold;
	width: 6.25rem;
	transition: all 0.3s ease;
	box-shadow: 0 0 0.625rem rgba(255, 232, 31, 0.2);
	font-family: 'Orbitron', sans-serif;
}

.searchbar-input::placeholder {
	color: #aaa;
	font-style: italic;
}

.searchbar-input:focus {
	outline: none;
	border-color: gold;
	box-shadow: 0 0 0.9375rem gold;
	background-color: #111;
	width: 11.25rem;
}

.searchbar-button {
	background-color: gold;
	color: #000;
	border: none;
	padding: 0.4rem 1rem;
	border-radius: 0.5rem;
	cursor: pointer;
	font-weight: bold;
	font-family: 'Orbitron', sans-serif;
	transition: all 0.3s ease;
	box-shadow: 0 0 0.5rem rgba(255, 232, 31, 0.6);
}

.searchbar-button:hover {
	background-color: #fff700;
	box-shadow: 0 0 0.9375rem #fff700;
	transform: scale(1.05);
}

.lightsaber-icon {
	width: 1.25rem;
	height: 1.25rem;
	filter: drop-shadow(0 0 0.25rem #ffe81f);
	transition: transform 0.2s ease;
}

.searchbar-button:hover .lightsaber-icon {
	transform: rotate(20deg) scale(1.1);
}

.error-msg {
	color: red;
	background-color: #ffe5e5;
	padding: 1rem;
	border-radius: 0.5rem;
	margin: 1rem 0;
	text-align: center;
	font-weight: bold;
}

.no-results-msg {
	color: #ffcc00;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 1rem;
	border-radius: 0.5rem;
	text-align: center;
	font-weight: bold;
	margin: 1rem 0;
	font-family: 'Orbitron', sans-serif;
}
